form.order(ng-controller="QuoteCtrl")
	//-
	//- aside
	//- 	p Please note...
	//- 	p The prices given are estimates and are subject to change. Most quotes will be very close but, depending on artwork and the ever shifting price of apparel, they may raise or lower. Prices do not include taxes or shipping where required. Also, we print great work so fear not.
	//-
	//- p For a quick quote, fill in the blanks below
	//-
	//- hr
	//-
	//- p {{ order }}

	aside
		
		img.preview(src="img/apparel/{{order.garment}}/{{order.style}}/{{order.color}}.jpg",ng-show="order.garment && order.style && order.color")
		img.preview(src="img/logo.jpg",ng-show="!(order.garment && order.style && order.color)")
		.quote(ng-show="order.garment && order.style && order.color")
			p Total pieces: {{ numeral(calculator.totalPieces(order)).format('0,0') }}
			p {{ calculator.pricePerPiece(order) | pricePerPieceFilter }}
			p {{ calculator.totalCost(order) | priceFilter }}

	.options

		h1 TerzInk Quote

		div
			h4 Choose a garment type.
			.garment
				select(ng-options="group_name as group_name for (group_name, group) in apparel",ng-model="order.garment")
					option(value="") Please choose a type of garment...

		div(ng-show="order.garment")
			h4 Choose a color and style.
			.color-style
				select(ng-options="type_name as type_name for (type_name, type) in apparel[order.garment]",ng-model="order.style")
					option(value="") Please choose a style...
				select(ng-options="color for color in apparel[order.garment][order.style].colors",ng-model="order.color",ng-show="order.style")
					option(value="") Please choose a color...
				.colorExample(ng-show="hexColor[order.color]",style="background-color: \#{{hexColor[order.color]}};")

		div(ng-show="apparel[order.garment][order.style].sizes && order.color")
			h4 Select sizes and quantities.
			.sizes
				div(ng-repeat="size in apparel[order.garment][order.style].sizes")
					label {{ size }}
					input(type="number",min="0",ng-model="order.quantity[size]",placeholder="Choose a quantity") 

		div(ng-show="order.garment && order.style && order.color && apparel[order.garment][order.style].placement")
			h4 Which locations are you wanting a print? Check all that apply.
			.placement
				label(ng-repeat="placement in apparel[order.garment][order.style].placement")
					input(type="checkbox",checklist-model="placements[order.garment+order.style]",checklist-value="placement",ng-click="order.prints[placement] = 0;")
					| {{placement}}
		
		div(ng-show="order.garment && order.style && order.color && placements[order.garment+order.style].length")
			h4 How many colors do the designs require?
			.numColors
				div(ng-repeat="placement in placements[order.garment+order.style]")
					label {{ placement }}
					select(ng-options="num as num+' colors' for num in [0,1,2,3,4,5,6,7,8]",ng-model="order.prints[placement]")
